.custom-cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    pointer-events: none; /* So it doesn't block interactions with elements */
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
  }
  
  /* Trail effect styles */
  .cursor-trail {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
    z-index: 9998;
  }


.preloader {
  cursor: none;
}